$purble: #5533CC;

// $heading_font_family: "Roboto", "Fira Sans", "Poppins", "Avenir Next", Helvetica, Arial, sans-serif;
// $body_font_family: "Open Sans", Arial, sans-serif;
// $primary_font_family: 'Inter var', sans-serif;

$z_index_normal: 0;
$z_index_high: 10; // Cover normal content
$z_index_higher: 20; // Cover page content
$z_index_highest: 30; // Cover entire page (modal backdrop)
$z_index_max: 40; // Cover everything (modal)

// $theme-colors: (
//   primary:,
//   secondary:,
//   danger:,
//   success:,
//   warning:,
//   info:
// );

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );

