@import './constants';

.landing {
    width: 100%;
    &-image{
        width: 50%;
    }
}

.authpage {
    width: 200%;
    margin-left: -50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    
}

.button {
    width: 20%;
    &-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &-div2 {
        width: 145%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &-1 {
        &:hover, :active, :before, :after {
            background-color: $green-1 !important;
        }
    }
    &-2 {
        &:hover, :active, :before, :after {
            background-color: $green-2 !important;
        }
    }
}

.input {
    width: 80%;
    margin: 2%;
    padding: 2% 5%;
    text-align: center;
}

.todo {
    width: 200%;
    margin-left: -50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10%;
    align-items: center;
}

.title {
    text-align: left;
}

.task {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    &-l {
        margin-left: 3px;
        float: left;
        color: rgba(36, 4, 4, 0.7);
    }
    &-r {
        margin-right: 3px;
        float: right;
        color: rgba(36, 4, 4, 0.7);
    }
}

.line {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px black;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
