@import './constants';

.landing {
    // background-color: green;
    width: 100%;
    &-image{
        width: 50%;
    }
}

.button {
    width: 20%;
    &-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &:hover, :active, :before, :after {
        background-color: $green-2 !important;
    }
}