@import './constants';

.landing {
    width: 100%;
    &-image{
        width: 50%;
    }
}

.authpage {
    width: 200%;
    margin-left: -50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    
}

.button {
    width: 20%;
    &-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &-1 {
        background-color: $green-3 !important;
        border: none;
        outline: none !important;
        border-color: $green-1 !important;
        &:hover, :active, :before, :after, :focus, :visited, :default, :visited, ::selection, ::before, ::after, .focus, .active, ::backdrop, ::content {
            background-color: $green-1 !important;
            border: none;
            outline: none !important;
            border-color: $green-1 !important;
        }
    }
    &-2 {
        background-color: white !important;
        border: none;
        outline: none !important;
        border-color: $green-2 !important;
        &:hover, :active, :before, :after, :focus, :visited, :default, :visited, ::selection, ::before, ::after, .focus, .active, ::backdrop, ::content {
            background-color: $green-2 !important;
            border: none;
            outline: none !important;
            border-color: $green-2 !important;
        }
    }
}

.input {
    width: 80%;
    margin: 2%;
    padding: 2% 5%;
    text-align: center;
    justify-self: center;
    &-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: blue;
    }
}

*:focus {
    outline: none;
}
